brotli
click
cryptography
Cython
docutils
dotenv
fastapi
flask
genshi
google
importlib_metadata
keyring
lockfile
lxml
numpy
openai
packaging
pandas
pip
pyparsing
regex
requests
setuptools
streamlit
toml
tornado
urllib3
uvicorn
vosk
wheel
zipp
openpyxl
python-multipart